
/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
body {
	display: flex;
	padding: 0 10px;
	min-height: 90vh;
	align-items: center;
	background: #3498db;
	justify-content: center;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scrollbar-width:none;
  box-sizing: border-box;
}
*:focus{
  outline: none;
  box-shadow: none;
}


a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root{
  /*Dark Mode Colours*/
  --text-color:#E3E3E3;
  --subheading-color:#828282;
  --placeholder-color:#A6A6A6;
  /*--primary-color:#242424;*/
  --primary-color:#0C0C1E;
  --secondary-color:#060714;
 /* --secondary-color:#383838;*/
  --secondary-hover-color:#191c42;
  /*--secondary-hover-color:#444;*/
}

.light_mode{
  /*Light Mode Colours*/
  --text-color:#222;
  --subheading-color:#A0A0A0;
  --placeholder-color:#6C6C6C;
  --primary-color:#F9F9F9;
  --secondary-color:#E9EEF6;
  --secondary-hover-color:#DBE1EA;
}

body{
  background: var(--primary-color);
}



.wrapper {
	height: 265px;
	max-width: 410px;
	background: var(--primary-color);
	border-radius: 7px;
	padding: 20px 25px 0;
	transition: height 0.2s ease;
/*	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);*/
}
.wrapper.active {
	height: 530px;
}
header h1 {
	font-size: 21px;
	font-weight: 500;
}
header p {
	margin-top: 5px;
	color: #575757;
	font-size: 16px;
}
.wrapper .form {
	margin: 20px 0 25px;
}
.form :where(input) {
	width: 100%;
	height: 55px;
	border: none;
	outline: none;
	background: var(--secondary-color);
	color: var(--placeholder-color);
	border-radius: 5px;
	transition: 0.1s ease;
}
.form input {
	font-size: 18px;
	padding: 0 17px;
	border: 1px solid #999;
}
.form input:focus {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}
.form input::placeholder {
	color: #999;
}
 button {
   opacity: 0;
   width: 100%;
	height: 55px;
	border: none;
	outline: none;
	border-radius: 5px;
	transition: 0.1s ease;
	color: #fff;
	cursor: pointer;
	margin-top: 20px;
	font-size: 17px;
	background: #3498db;
}
.qr-code {
	opacity: 0;
	display: flex;
	flex-direction: column; 
	align-items: center;
	justify-content: center; 
	padding: 33px 0;
	border-radius: 5px;
	pointer-events: none;
	border: 1px solid #ccc;
}
.wrapper.active .qr-code,
.wrapper.active button {
	opacity: 1;
	pointer-events: auto;
	transition: opacity 0.5s 0.05s ease;
}
.qr-code img {
	width: 170px;
}
.qr-code .QR {
	width: 200px;
	height: 200px;
}

@media (max-width: 430px) {
	.wrapper {
		height: 130px;
		padding: 16px 20px;
	}
	.wrapper.active {
		height: 490px;
	}
	header p {
		color: #696969;
	}
	.form :where(input, button) {
		height: 52px;
	}
	.qr-code img {
		width: 160px;
	}
	.qr-code .QR {
		width: 200px;
		height: 200px;
	}
}


@media (max-width: 480px) {
  * {
    zoom: 0.9;
  }
}